body {
  margin: 0;
}
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  flex: auto;
}
.no-flex {
  flex: none;
}
.btn-primary {
  border: 1px solid #5CB85C;
  border-radius: .3em;
  color: #fff;
  background-color: #5CB85C;
}
@media(max-width: 767px) {
  .row.sm-vertical {
    flex-direction: column;
  }
  .row > .col.sm-full, .row > .no-flex.sm-full {
    width: 100%;
  }
}
